---
---

@import "{{ site.theme }}";
header ul{
 width:0px;

 border-left: 0px;
}
header li{
 background-color: #f1f1f1;
 width:200px;
 border: 1px solid #555;
}
header ul li+li+li {
    border-right: none;
    width: 200px;
 border: 1px solid #555;
}
header li a:hover {
  background-color: #555;
  color: white;
}
header .active {
  background-color: #4CAF50;
  color: white;
}
header li:first-child a {
    border-radius: 0px 0 0 0px;
}
